.bottomNav {
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 7px rgba(0, 0, 0, 0.14), 0px 1px 10px 7px rgba(0, 0, 0, 0.12);
}
